/*.exe
/*.exe.stackdump
/*.o
/*~
/.deps
/.libs
/Makefile
/Makefile.in
/cd-paranoia.log
/cdda-1.raw
/cdda-2.raw
/cdda-be.bin
/cdda-be.cue
/cdda-le.bin
/cdda-le.cue
/cdda-good.raw
/cdda-jitter.raw
/cdda-matches.raw
/cdda-underrun.raw
/cdda.bin
/cdda.raw
/check_common_fn
/check_cue.sh
/check_iso.sh
/check_nrg.sh
/check_paranoia.sh
/check_sizeof
/endian.sh
/isofs-m1.bin
/test_lib_driver_util
/testassert
/testassert.core
/testbincue
/testbincue.c
/testdefault
/testgetdevices
/testgetdevices.c
/testischar
/testiso9660
/testisocd
/testisocd2
/testisocd2.c
/testlinux
/testnrg
/testnrg.c
/testparanoia
/testpregap
/testpregap.c
/testsolaris
/testtoc
/testunconfig
/testutils
