/*~
/ChangeLog
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache
/compile
/config.guess
/config.h
/config.h.in
/config.log
/config.rpath
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libcdio-*.tar.bz2
/libcdio-*.tar.gz
/libcdio-*.sig
/libcdio_cdda.pc
/libcdio_paranoia.pc
/libtool
/ltmain.sh
/m4
/missing
/stamp-h1
