*.exe
*.log
*.stackdump
*.trs
*~
/*.directive
/*.directive.asc
/ChangeLog
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache
/cd-paranoia
/compile
/config.guess
/config.h
/config.h.in
/config.log
/config.rpath
/config.status
/config.sub
/configure
/cov-int
/depcomp
/install-sh
/libcdio-*.sig
/libcdio-*.tar.bz2
/libcdio-*.tar.gz
/libcdio-paranoia-10.2*
/libcdio-paranoia.tgz
/libcdio_cdda.pc
/libcdio_paranoia.pc
/libtool
/ltmain.sh
/missing
/stamp-h1
/test-driver
/test/data/cdda-be.bin
/test/data/cdda-be.cue
/test/data/cdda-le.bin
/test/data/cdda-le.cue
